@model FightRight.Models.FighterChart



@{

	ViewBag.Title = "Fighter Comparison";
}







<body class="comparisons_Bg">


	<div class="container-fluid px-4 text-center" style="width: 100%;">
		<h1 class="mt-4 text-white page_header">FIGHT RIGHT</h1>
		<h3 class="mt-4 text-white page_message">CHOOSE YOUR FIGHTERS</h3>

		<br />
		<p class="text-white"> * for best results, choose two fighters in the same league/weight-class.</p>
		

		<br />
		@Html.Partial("FighterChart")

		<br />
		<br />





	</div>


</body>
